<h2>Edit pet</h2>

<form action="/pets<%= pet.id %>" method="post">
    <input type="hidden" name="_method" value ="put">
    <label for="">Name</label>
    <input name="pet_name"type="text">
    <label for="">Breed</label>
    <input name="pet_breed" type="text">
    <label for="">Image URL</label>
    <input name="image_url"type="text">
    <label for="">Coat</label>
    <input name="pet_coat" type="text">
    <label for="">Weight</label>
    <input name="pet_weight"type="text">
    <label for="">Description</label>
    <input name="pet_description" type="text">
    <button>Share!</button>
</form>