
<h4>Welcome to FuzzFeed! The worlds premiere social media platform for pets! Sign up to share and edit your own pets.</h4>

<section class="pet-list">

    <% for (let pet of pets) { %>
    
    
    <div class="pet-card">
        
        <h2>
            <a class="link-styles"  href="/pets/<%= pet.id %>"><%= pet.pet_name %></a>
        </h2>
    
        <img src="<%= pet.image_url %>" alt="">
        
    </div>
    









    
    <% } %>
    
    
</section>