<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="header">
        <a class="link-styles" href="/">Home</a>
        <a class="link-styles" href="/about">About</a>

        <% if (userId) {%>
        <a class="link-styles" href="/pets/new">Share your pet!</a>
        <% } %>



        <%if (userId)  { %>
        <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="logout-button">Logout</button>
        </form>
        <% } else { %>
            <a class="link-styles"  href="/login">Login</a>
            <a class="link-styles" href="/signup">Signup</a>
        <% } %>
    </div>
    </nav>
    <h1 class="fuzzfeed">FuzzFeed</h1>

    <%- body %>
</body>
</html>