<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>

        <% if (userId) {%>
        <a href="/pets/new">Share your pet!</a>
        <% } %>



        <%if (userId)  { %>
        <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>logout</button>
        </form>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
        <a href="/signup">signup</a>
    </nav>
    <h1 class="fuzzfeed">FuzzFeed</h1>

    <%- body %>
</body>
</html>