<h2>Share new Pet!</h2>

<form action="/pets" method="post" enctype="multipart/form-data">
    <label for="">Name</label>
    <input name="pet_name"type="text">
    <label for="">Breed</label>
    <input name="pet_breed" type="text">

        
    <!-- <label for="">Image URL</label>
    <input name="image_url"type="text"> -->

    <label for="">File upload</label>
    <input name="uploadfile"type="file">


    <label for="">Coat</label>
    <input name="pet_coat" type="text">
    <label for="">Weight</label>
    <input name="pet_weight"type="text">
    <label for="">Description</label>
    <input name="pet_description" type="text">
    <button>Share!</button>
</form>