<h2>Signup</h2>


<form action="/users" method="post">
    <label for="">email</label>
    <input name="signup_email"type="text">
    <label for="">password</label>
    <input name="signup_password"type="text">
    <button>signup</button>


</form>